/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* scroll-to-top */
.scroll-to-top {
  position: fixed;
  right: -100px;
  bottom: 0;
  font-size: 40px;
  margin: 40px;
  cursor: pointer;
  z-index: 100;
  color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* scroll-to-top */
/* start nav */
nav {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
nav,
nav .container .links ul li,
nav .container .logo {
  height: 72px;
}
@media (max-width: 768px) {
  nav {
    height: 100px;
  }
  nav .container .links ul li,
  nav .container .logo {
    height: 50px;
  }
  nav .container {
    flex-direction: column;
  }
}
nav .container {
  position: relative;
}
nav .container .logo {
  margin: 0;
  font-size: 26px;
  color: var(--main-color);
}
nav .container,
nav .container .links ul,
nav .container .logo,
nav .container .links ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .links ul li {
  position: relative;
  color: black;
  padding: 0px 30px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
nav .container .links ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
nav .container .links ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: var(--main-color-alt);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
nav .container .links ul li:hover::before {
  width: 100%;
}
nav .container .links ul li a {
  color: inherit;
  font-size: 18px;
}
@media (max-width: 768px) {
  nav .container .links ul li a {
    font-size: 14px;
  }
}
/* mega menu */
nav .container .close {
  z-index: 1000 !important;
  top: 73px !important;
  opacity: 1 !important;
}
@media (max-width: 768px) {
  nav .container .close {
    top: 101px !important;
  }
}
nav .container .mega-menu {
  z-index: -20;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 768px) {
  nav .container .mega-menu {
    top: 150px;
  }
}
nav .container .mega-menu .image img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  nav .container .mega-menu .image {
    display: none;
  }
}
nav .container .mega-menu .links {
  margin: 20px;
}
nav .container .mega-menu .links li {
  border-bottom: 2px solid var(--section-background);
  position: relative;
  z-index: 3;
}
nav .container .mega-menu .links li:last-child {
  border-bottom: none;
}
nav .container .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--section-background);
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  opacity: 0.5;
}
nav .container .mega-menu .links li:hover::before {
  width: 100%;
}
nav .container .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
/* mega menu */
/* end nav */

/* start landing */
.landing {
  height: calc(100vh - 72px);
  position: relative;
}
.landing::after {
  content: "";
  position: absolute;
  background-color: var(--section-background);
  width: 100%;
  height: 100%;
  top: -50px;
  left: 0;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 100px);
  }
}
.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
.landing .container .image {
  width: 600px;
}
@media (max-width: 992px) {
  .landing .container .image {
    display: none;
  }
  .landing .container {
    justify-content: center;
    text-align: center;
  }
}
.landing .container .image img {
  width: 100%;
  position: relative;
  top: 0;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}
.landing .go-down {
  color: var(--main-color-alt);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50);
  -webkit-transform: translateX(-50);
  -moz-transform: translateX(-50);
  -ms-transform: translateX(-50);
  -o-transform: translateX(-50);
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

/* end landing */
/* start articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: var(--main-color-alt);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.main-title::before {
  left: -25px;
}
.main-title::after {
  right: -25px;
}
.main-title:hover {
  border-color: white;
  color: white;
}
.main-title:hover::before {
  left: 0;
  height: 100%;
  width: 53%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.main-title:hover::after {
  right: 0;
  height: 100%;
  width: 53%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* box */
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}
.articles .container .box img {
  width: 100%;
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
}
.articles .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .box .info a {
  font-weight: bold;
}
.articles .container .box .info svg,
.articles .container .box .info a {
  color: var(--main-color);
}
/* box */
/* end articles */
/* start gallery */
.gallery {
  background-color: var(--section-background);
  padding: var(--main-padding-bottom) 0px;
}
.gallery .container .gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .gallery-content .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-content .box img {
  width: 100%;
}
.gallery .container .gallery-content .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .container .gallery-content .box:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end gallery */

/* start features */
.features {
  padding: var(--main-padding-bottom) 0px;
}
.features .container .feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .feature-content .box {
  border: 1px solid #ececec;
}
.features .container .feature-content .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .feature-content .box .image::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  color: #fafafa;
  left: 0;
  bottom: -20px;
  height: 0px;
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .feature-content .image:hover::after {
  bottom: 0px;
  height: 100%;
}

.features .container .feature-content .quality .image::after {
  content: "Quality";
  background-color: rgb(244 64 54 / 50%);
}
.features .container .feature-content .time .image::after {
  content: "Time";
  background-color: rgb(0 150 136 / 50%);
}
.features .container .feature-content .passion .image::after {
  content: "Passion";
  background-color: rgb(3 169 244 / 50%);
}
.features .container .feature-content .box .image img {
  width: 100%;
}
.features .container .feature-content .box h2 {
  margin: 45px auto;
  text-align: center;
  font-size: 35px;
  width: fit-content;
  position: relative;
}

.features .container .feature-content .box h2::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -15px;
  width: calc(100% - 40px);
  height: 4px;
}
.features .container .feature-content .quality h2 {
  color: #f44036;
}
.features .container .feature-content .quality h2::before {
  background: #f44036;
}
.features .container .feature-content .time h2 {
  color: #009688;
}
.features .container .feature-content .time h2::before {
  background: #009688;
}
.features .container .feature-content .passion h2 {
  color: #03a9f4;
}
.features .container .feature-content .passion h2::before {
  background: #03a9f4;
}

.features .container .feature-content .box p {
  padding-left: 20px;
  line-height: 2;
  font-size: 24px;
  color: rgb(108, 108, 108);
}
.features .container .feature-content .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .feature-content .quality a {
  border-color: #f44036;
  color: #f44036;
}
.features .container .feature-content .time a {
  border-color: #009688;
  color: #009688;
}
.features .container .feature-content .passion a {
  border-color: #03a9f4;
  color: #03a9f4;
}
/* end features */
/* start testimonials */
.testimonials {
  padding: var(--main-padding-bottom) 0px;
  background-color: var(--section-background);
}
.testimonials .container .testimonials-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .testimonials-content .box {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  position: relative;
}
.testimonials .container .testimonials-content .box img {
  position: absolute;
  top: -25%;
  right: -10px;
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .container .testimonials-content .box h4 {
  color: rgb(0 0 0 / 50%);
}
.testimonials .container .testimonials-content .box .rate {
  color: #ffc107;
}
/* start testimonials */
/* start team */
.team {
  background-color: white;
  padding: var(--main-padding-bottom) 0px;
}
.team .container .team-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .container .team-cards .card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  background-color: var(--section-background);
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.team .container .team-cards .card img {
  width: 100%;
  grid-column: span 3;
}

.team .container .team-cards .card .text {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.team .container .team-cards .card .icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.team .container .team-cards .card .icons svg:nth-child(1) {
  color: #1877f2;
}
.team .container .team-cards .card .icons svg:nth-child(2) {
  color: #1da1f2;
}
.team .container .team-cards .card .icons svg:nth-child(3) {
  color: #0077b5;
}
.team .container .team-cards .card .icons svg:nth-child(4) {
  color: #ff0000;
}
/* end team */
/* start services */
.services {
  background-color: var(--section-background);
  padding: var(--main-padding-top) 0px;
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .services-content .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.services .container .services-content .box::after {
  content: "";
  position: absolute;
  top: -3px;
  width: 0px;
  height: 3px;
  left: 50%;
  background-color: var(--main-color-alt);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .container .services-content .box:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.services .container .services-content .box:hover::after {
  width: 100%;
}
.services .container .services-content .box svg {
  color: var(--section-background);
  padding-top: 20px;
}
.services .container .services-content .box h3 {
  font-size: 24px;
  color: var(--main-color);
  font-weight: bold;
}
.services .container .services-content .box .info {
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}
.services .container .services-content .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .container .services-content .box .info::after {
  content: "";
  background-color: #d5d5d5;
  position: absolute;
  left: 80px;
  top: 0;
  height: 100%;
  width: 50px;
  transform: skewX(340deg);
  z-index: 2;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .container .services-content .box:hover .info::after {
  width: 100%;
}
.services .container .services-content .box .info a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  position: relative;
  float: right;
  z-index: 3;
}
/* end services */
/* start skills */
.skills {
  background-color: white;
  padding: var(--main-padding-bottom) 0px;
}
.skills .container .skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}
.skills .container .skills-content .image {
  display: flex;
  justify-content: center;
  align-self: center;
}
.skills .container .skills-content .image img {
  width: 100%;
}
@media (max-width: 991px) {
  .skills .container .skills-content .image img {
    display: none;
  }
  .skills .container .skills-content {
    gap: 0px;
  }
}
.skills .container .skills-content .progress {
}
.skills .container .skills-content .progress .skill {
}
.skills .container .skills-content .progress .skill h3 {
  margin: 20px 0px;
}
.skills .container .skills-content .progress .skill span {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--section-background);
}
.skills .container .skills-content .progress .skill span::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
}
.skills .container .skills-content .progress .skill span::after {
  position: absolute;
  color: var(--main-color);
  width: fit-content;
  height: 20px;
  right: 0;
  top: -48px;
  padding: 5px;
  border: 1px solid var(--section-background);
  border-radius: 5px;
}
.skills .container .skills-content .progress .skill:nth-child(1) span::before {
  width: 95%;
}
.skills .container .skills-content .progress .skill:nth-child(1) span::after {
  content: "95 %";
}
.skills .container .skills-content .progress .skill:nth-child(2) span::before {
  width: 90%;
}
.skills .container .skills-content .progress .skill:nth-child(2) span::after {
  content: "90 %";
}
.skills .container .skills-content .progress .skill:nth-child(3) span::before {
  width: 90%;
}
.skills .container .skills-content .progress .skill:nth-child(3) span::after {
  content: "90 %";
}
.skills .container .skills-content .progress .skill:nth-child(4) span::before {
  width: 80%;
}
.skills .container .skills-content .progress .skill:nth-child(4) span::after {
  content: "80 %";
}
/* end skills */
/* start events */
.events {
  background-color: var(--section-background);
  padding: var(--main-padding-top) 0px;
  position: relative;
}
.events .container .events-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
}
.events::before,
.events::after {
  content: url("../asset/images/dots.png");
  position: absolute;
}
.events::after {
  top: var(--main-padding-top);
  right: 0;
}
.events::before {
  bottom: var(--main-padding-bottom);
  left: 0;
}
@media (max-width: 991px) {
  .events .container .events-content img,
  .events::before,
  .events::after {
    display: none;
  }
}
.events .container .events-content img {
  width: 100%;
}
.events .container .events-content .event {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.events .container .events-content .event .time {
  display: flex;
  gap: 10px;
  text-align: center;
}
.events .container .events-content .event .unit {
  border: 2px solid #00000024;
  width: 90px;
  border-radius: 5px;
  background-color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.events .container .events-content .event .time .day {
  color: #037ef3;
}
.events .container .events-content .event .time .hour {
  color: #f85a40;
}
.events .container .events-content .event .time .minute {
  color: #00c16e;
}
.events .container .events-content .event .time .second {
  color: #7552cc;
}
/* ---------- */
.events .container .events-content .event .time .day:hover,
.events .container .events-content .event .time .day:hover .name {
  border-color: #037ef3;
}
.events .container .events-content .event .time .hour:hover .name ,
.events .container .events-content .event .time .hour:hover {
  border-color: #f85a40;
}
.events .container .events-content .event .time .minute:hover .name ,
.events .container .events-content .event .time .minute:hover {
  border-color: #00c16e;
}
.events .container .events-content .event .time .second:hover .name ,
.events .container .events-content .event .time .second:hover {
  border-color: #7552cc;
}
/* ----------------- */
.events .container .events-content .event .time .number {
  margin: 30px 10px;
}
.events .container .events-content .event .time .name {
  border-top: 2px solid #00000024;
  padding: 10px;
  font-weight: bold;
  transition: var(--main-transition);
  margin-bottom: 0;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.events .container .events-content .event .text {
  text-align: center;
}
.events .container .events-content .event .text h1 {
  font-weight: bold;
  color: var(--main-color);
}
.events .container .events-content .event .text p {
  color: #000000a4;
}

/* end events */
